:root {
	--cOrange: #f47957;
	--cLightOrange: #f3a255;
	--cBrown: #463020;
	--cModalBackground: #463020e7;
	--cInputFieldColor: #f3a15521;
	--cBeige: #f4f2e9;
	--cDarkerBeige: #e0c8a6;
	--cGreen: #7b9a53;
	--cRed: #984b42b2;
	--mMargin: 10px;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat Alternates', sans-serif;
	color: var(--cBrown);
}
body {
	background-color: var(--cBeige);
}
/* Nav */
nav {
	margin: var(--mMargin);
}
.nav-title {
	display: flex;
	align-items: flex-end;

	gap: var(--mMargin);
}
.books-icon {
	font-size: 70px;
	color: var(--cOrange);
	color: var(--cBrown);
}
h1 {
	font-size: 50px;
}
.btn-container {
	display: flex;
	gap: var(--mMargin);
}
.spacing-hidden {
	width: 70px;
	height: 1px;
	visibility: hidden;
}
.add-new-book-btn {
	margin: var(--mMargin) 0;
	width: 200px;
	height: 40px;
	text-decoration: none;
	box-shadow: none;
	border-radius: 5px;
	border: 2px solid var(--cOrange);
	/* decide background */
	background-color: var(--cLightOrange);
	background-color: var(--cDarkerBeige);
	font-weight: bold;
	font-size: 18px;
}
.fa-book {
	margin-right: 5px;
}
/* Book table */
.books-section {
	margin: var(--mMargin);
}
.books-section h2 {
	margin: var(--mMargin) 0;
}
.book-table {
	border-collapse: collapse;
	border-spacing: 0;
	/* border-style: hidden; */
}

.headings {
	border: 3px solid var(--cBrown);
	text-align: left;
}

.book-row {
	border-left: 3px solid var(--cBrown);
	border-right: 3px solid var(--cBrown);
	border-bottom: 1px solid var(--cBrown);
}
.book-table:last-child {
	border-bottom: 3px solid var(--cBrown);
}
/* .headings:first-child {
  border-top-left-radius: 5px;
} */
.book-table th,
.book-table td {
	padding: var(--mMargin);
}

/* Modal add new book */
.hideModal {
	visibility: hidden;
}
.n-b-modal-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--cModalBackground);
	display: flex;
	align-items: center;
	justify-content: center;
}
.add-new-book {
	border: solid 7px var(--cBrown);
	border-radius: 5px;
	width: 80%;
	height: fit-content;
	background-color: var(--cBeige);
}
.close-modal {
	color: var(--cOrange);
	font-size: 30px;
	display: block;
	margin: 5px 5px 5px auto;
	cursor: pointer;
}
.input-text {
	border: none;
	border-bottom: 2px solid var(--cBrown);
	background-color: var(--cInputFieldColor);
}
.input-text:focus {
	outline: 2px solid var(--cLightOrange);
	border: none;
}
fieldset {
	border: none;
	margin: var(--mMargin);
}
.status-choice {
	border: 2px solid var(--cBrown);
	cursor: pointer;
}
.star-rating-container {
	display: flex;
}
.star-rating-container label {
	margin: 0 5px 0 0;
}
.the-stars {
	display: flex;
}
.the-stars div {
	margin: 0 5px;
}
.the-stars div ion-icon {
	color: var(--cBrown);
	font-size: 20px;
}
.form-btn {
	padding: 5px 15px;
	border-radius: 5px;
	box-shadow: none;
	border: 2px solid var(--cBrown);
	font-weight: bold;
	cursor: pointer;
}
.btn-save {
	background-color: var(--cLightOrange);
}
.btn-reset {
	background-color: var(--cDarkerBeige);
}

/* selected stars */
.selectedStar .starIcon {
	color: var(--cLightOrange);
}

/* mini stars (stars inside table) */
.ministarIcon {
	font-size: 9px;
	margin: 0 1px 0 0;
	color: var(--cBrown);
}

/* Modal delete book */
.modal-delete-book {
	border: solid 7px var(--cBrown);
	border-radius: 5px;
	width: 80%;
	height: fit-content;
	background-color: var(--cBeige);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.modal-delete-book h3,
.modal-delete-book button {
	margin: var(--mMargin);
}
.modal-delete-book h3 {
	padding: 0 var(--mMargin);
	text-align: center;
}
.keep-btn {
	background-color: var(--cGreen);
}
.delete-btn {
	background-color: var(--cRed);
}

.trashIcon,
.editIcon {
	cursor: pointer;
}

/* Footer */
footer {
	flex: 100 100 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0 0 0;
	min-height: 50px;
}
footer p {
	margin-right: 7px;
	color: #808080;
}
footer img {
	width: 20px;
	padding-left: 5px;
	filter: invert(53%) sepia(10%) saturate(9%) hue-rotate(31deg) brightness(93%)
		contrast(88%);
}
